[submodule "admin"]
	path = admin
	url = git@bitbucket.org:zoadilack/tavro-admin.git
[submodule "api"]
	path = api
	url = git@bitbucket.org:zoadilack/tavro-api.git
[submodule "provisioning"]
	path = provisioning
	url = git@bitbucket.org:zoadilack/tavro-provisioning.git
[submodule "app"]
	path = app
	url = git@bitbucket.org:zoadilack/tavro-app.git
